<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>${jsf-project-stage}</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>${jsf-facelets-refresh-period}</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>${jsf-state-saving-method}</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <data-source>
        <name>${data-source.name}</name>
        <class-name>${data-source.class-name}</class-name>
        <url>${data-source.url}</url>
        <user>${data-source.user}</user>
        <password>${data-source.password}</password>
        <property>
            <name>${data-source.property-name}</name>
            <value>${data-source.property-valor}</value>
        </property>        
        <transactional>${data-source.transactional}</transactional>
        <isolation-level>${data-source.isolation-level}</isolation-level>
        <initial-pool-size>${data-source.initial-pool-size}</initial-pool-size>
        <max-pool-size>${data-source.max-pool-size}</max-pool-size>
        <min-pool-size>${data-source.min-pool-size}</min-pool-size>
        <max-idle-time>${data-source.max-idle-time}</max-idle-time>
        <max-statements>${data-source.max-statements}</max-statements>
    </data-source>    
</web-app>
